<a href="https://colab.research.google.com/github/Aswin-Kumar66/Pyspark_Practise/blob/main/Pyspark_Practise_4___Merge_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=84f459a1fa68de58192e0c5db8b4266e14f99aa371862ad6071519048fd1df3f
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [3]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = SparkSession.builder.getOrCreate()

## Question 6

In [4]:
cars1 = spark.read.csv('cars1.csv' , header = True , inferSchema = True)
cars2 = spark.read.csv('cars2.csv' , header = True , inferSchema = True)

In [8]:
cars1.show()

+----+---------+------------+----------+------+------------+-----+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
|18.0|        8|         307|       130|  3504|        12.0|   70|     1|chevrolet chevell...|
|15.0|        8|         350|       165|  3693|        11.5|   70|     1|   buick skylark 320|
|18.0|        8|         318|       150|  3436|        11.0|   70|     1|  plymouth satellite|
|16.0|        8|         304|       150|  3433|        12.0|   70|     1|       amc rebel sst|
|17.0|        8|         302|       140|  3449|        10.5|   70|     1|         ford torino|
|15.0|        8|         429|       198|  4341|        10.0|   70|     1|    ford galaxie 500|
|14.0|        8|         454|       220|  4354|         9.0|   70|     1|    chevrolet impala|
|14.0|        8|         440|       215|  4312|         8.5|   70|     1|   plymouth fury iii|
|14.0|        8|         455|       225|  4425|        10.0|   70|     1|    pontiac catalina|
|15.0|        8|         390|       190|  3850|         8.5|   70|     1|  amc ambassador dpl|
|15.0|        8|         383|       170|  3563|        10.0|   70|     1| dodge challenger se|
|14.0|        8|         340|       160|  3609|         8.0|   70|     1|  plymouth 'cuda 340|
|15.0|        8|         400|       150|  3761|         9.5|   70|     1|chevrolet monte c...|
|14.0|        8|         455|       225|  3086|        10.0|   70|     1|buick estate wago...|
|24.0|        4|         113|        95|  2372|        15.0|   70|     3|toyota corona mar...|
|22.0|        6|         198|        95|  2833|        15.5|   70|     1|     plymouth duster|
|18.0|        6|         199|        97|  2774|        15.5|   70|     1|          amc hornet|
|21.0|        6|         200|        85|  2587|        16.0|   70|     1|       ford maverick|
|27.0|        4|          97|        88|  2130|        14.5|   70|     3|        datsun pl510|
|26.0|        4|          97|        46|  1835|        20.5|   70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
only showing top 20 rows

In [6]:
cars2.show()

+----+---------+------------+----------+------+------------+-----+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
|33.0|        4|          91|        53|  1795|        17.4|   76|     3|         honda civic|
|20.0|        6|         225|       100|  3651|        17.7|   76|     1|      dodge aspen se|
|18.0|        6|         250|        78|  3574|        21.0|   76|     1|   ford granada ghia|
|18.5|        6|         250|       110|  3645|        16.2|   76|     1|  pontiac ventura sj|
|17.5|        6|         258|        95|  3193|        17.8|   76|     1|       amc pacer d/l|
|29.5|        4|          97|        71|  1825|        12.2|   76|     2|   volkswagen rabbit|
|32.0|        4|          85|        70|  1990|        17.0|   76|     3|        datsun b-210|
|28.0|        4|          97|        75|  2155|        16.4|   76|     3|      toyota corolla|
|26.5|        4|         140|        72|  2565|        13.6|   76|     1|          ford pinto|
|20.0|        4|         130|       102|  3150|        15.7|   76|     2|           volvo 245|
|13.0|        8|         318|       150|  3940|        13.2|   76|     1|plymouth volare p...|
|19.0|        4|         120|        88|  3270|        21.9|   76|     2|         peugeot 504|
|19.0|        6|         156|       108|  2930|        15.5|   76|     3|      toyota mark ii|
|16.5|        6|         168|       120|  3820|        16.7|   76|     2|  mercedes-benz 280s|
|16.5|        8|         350|       180|  4380|        12.1|   76|     1|    cadillac seville|
|13.0|        8|         350|       145|  4055|        12.0|   76|     1|           chevy c10|
|13.0|        8|         302|       130|  3870|        15.0|   76|     1|           ford f108|
|13.0|        8|         318|       150|  3755|        14.0|   76|     1|          dodge d100|
|31.5|        4|          98|        68|  2045|        18.5|   77|     3|   honda accord cvcc|
|30.0|        4|         111|        80|  2155|        14.8|   77|     1|buick opel isuzu ...|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
only showing top 20 rows

In [7]:
cars1 = cars1.select(cars1.columns[0:9])
cars1.show()

+----+---------+------------+----------+------+------------+-----+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
|18.0|        8|         307|       130|  3504|        12.0|   70|     1|chevrolet chevell...|
|15.0|        8|         350|       165|  3693|        11.5|   70|     1|   buick skylark 320|
|18.0|        8|         318|       150|  3436|        11.0|   70|     1|  plymouth satellite|
|16.0|        8|         304|       150|  3433|        12.0|   70|     1|       amc rebel sst|
|17.0|        8|         302|       140|  3449|        10.5|   70|     1|         ford torino|
|15.0|        8|         429|       198|  4341|        10.0|   70|     1|    ford galaxie 500|
|14.0|        8|         454|       220|  4354|         9.0|   70|     1|    chevrolet impala|
|14.0|        8|         440|       215|  4312|         8.5|   70|     1|   plymouth fury iii|
|14.0|        8|         455|       225|  4425|        10.0|   70|     1|    pontiac catalina|
|15.0|        8|         390|       190|  3850|         8.5|   70|     1|  amc ambassador dpl|
|15.0|        8|         383|       170|  3563|        10.0|   70|     1| dodge challenger se|
|14.0|        8|         340|       160|  3609|         8.0|   70|     1|  plymouth 'cuda 340|
|15.0|        8|         400|       150|  3761|         9.5|   70|     1|chevrolet monte c...|
|14.0|        8|         455|       225|  3086|        10.0|   70|     1|buick estate wago...|
|24.0|        4|         113|        95|  2372|        15.0|   70|     3|toyota corona mar...|
|22.0|        6|         198|        95|  2833|        15.5|   70|     1|     plymouth duster|
|18.0|        6|         199|        97|  2774|        15.5|   70|     1|          amc hornet|
|21.0|        6|         200|        85|  2587|        16.0|   70|     1|       ford maverick|
|27.0|        4|          97|        88|  2130|        14.5|   70|     3|        datsun pl510|
|26.0|        4|          97|        46|  1835|        20.5|   70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
only showing top 20 rows

In [10]:
print(cars1.count())
print(cars2.count())

198
200

In [11]:
cars = cars1.union(cars2)
cars.show()

+----+---------+------------+----------+------+------------+-----+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
|18.0|        8|         307|       130|  3504|        12.0|   70|     1|chevrolet chevell...|
|15.0|        8|         350|       165|  3693|        11.5|   70|     1|   buick skylark 320|
|18.0|        8|         318|       150|  3436|        11.0|   70|     1|  plymouth satellite|
|16.0|        8|         304|       150|  3433|        12.0|   70|     1|       amc rebel sst|
|17.0|        8|         302|       140|  3449|        10.5|   70|     1|         ford torino|
|15.0|        8|         429|       198|  4341|        10.0|   70|     1|    ford galaxie 500|
|14.0|        8|         454|       220|  4354|         9.0|   70|     1|    chevrolet impala|
|14.0|        8|         440|       215|  4312|         8.5|   70|     1|   plymouth fury iii|
|14.0|        8|         455|       225|  4425|        10.0|   70|     1|    pontiac catalina|
|15.0|        8|         390|       190|  3850|         8.5|   70|     1|  amc ambassador dpl|
|15.0|        8|         383|       170|  3563|        10.0|   70|     1| dodge challenger se|
|14.0|        8|         340|       160|  3609|         8.0|   70|     1|  plymouth 'cuda 340|
|15.0|        8|         400|       150|  3761|         9.5|   70|     1|chevrolet monte c...|
|14.0|        8|         455|       225|  3086|        10.0|   70|     1|buick estate wago...|
|24.0|        4|         113|        95|  2372|        15.0|   70|     3|toyota corona mar...|
|22.0|        6|         198|        95|  2833|        15.5|   70|     1|     plymouth duster|
|18.0|        6|         199|        97|  2774|        15.5|   70|     1|          amc hornet|
|21.0|        6|         200|        85|  2587|        16.0|   70|     1|       ford maverick|
|27.0|        4|          97|        88|  2130|        14.5|   70|     3|        datsun pl510|
|26.0|        4|          97|        46|  1835|        20.5|   70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
only showing top 20 rows

In [12]:
cars.count()

398

In [28]:
cars.withColumn('owner' , F.round((F.rand()*60 + 15)*1000) ).show()

+----+---------+------------+----------+------+------------+-----+------+--------------------+-------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car|  owner|
+----+---------+------------+----------+------+------------+-----+------+--------------------+-------+
|18.0|        8|         307|       130|  3504|        12.0|   70|     1|chevrolet chevell...|42429.0|
|15.0|        8|         350|       165|  3693|        11.5|   70|     1|   buick skylark 320|58995.0|
|18.0|        8|         318|       150|  3436|        11.0|   70|     1|  plymouth satellite|24011.0|
|16.0|        8|         304|       150|  3433|        12.0|   70|     1|       amc rebel sst|55701.0|
|17.0|        8|         302|       140|  3449|        10.5|   70|     1|         ford torino|16937.0|
|15.0|        8|         429|       198|  4341|        10.0|   70|     1|    ford galaxie 500|43658.0|
|14.0|        8|         454|       220|  4354|         9.0|   70|     1|    chevrolet impala|37655.0|
|14.0|        8|         440|       215|  4312|         8.5|   70|     1|   plymouth fury iii|32559.0|
|14.0|        8|         455|       225|  4425|        10.0|   70|     1|    pontiac catalina|28859.0|
|15.0|        8|         390|       190|  3850|         8.5|   70|     1|  amc ambassador dpl|64827.0|
|15.0|        8|         383|       170|  3563|        10.0|   70|     1| dodge challenger se|15431.0|
|14.0|        8|         340|       160|  3609|         8.0|   70|     1|  plymouth 'cuda 340|53661.0|
|15.0|        8|         400|       150|  3761|         9.5|   70|     1|chevrolet monte c...|71696.0|
|14.0|        8|         455|       225|  3086|        10.0|   70|     1|buick estate wago...|71842.0|
|24.0|        4|         113|        95|  2372|        15.0|   70|     3|toyota corona mar...|32990.0|
|22.0|        6|         198|        95|  2833|        15.5|   70|     1|     plymouth duster|57880.0|
|18.0|        6|         199|        97|  2774|        15.5|   70|     1|          amc hornet|23141.0|
|21.0|        6|         200|        85|  2587|        16.0|   70|     1|       ford maverick|67212.0|
|27.0|        4|          97|        88|  2130|        14.5|   70|     3|        datsun pl510|70039.0|
|26.0|        4|          97|        46|  1835|        20.5|   70|     2|volkswagen 1131 d...|48218.0|
+----+---------+------------+----------+------+------------+-----+------+--------------------+-------+
only showing top 20 rows