<a href="https://colab.research.google.com/github/Aswin-Kumar66/Pyspark_Practise/blob/main/Pyspark_Practise_5___Stats_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 2.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=84f459a1fa68de58192e0c5db8b4266e14f99aa371862ad6071519048fd1df3f
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [3]:
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

spark = SparkSession.builder.getOrCreate()

## Question 7

In [126]:
df = spark.read.csv('US_Baby_Names_right.csv'  , header = True , inferSchema = True)

In [127]:
df.show()

+-----+-----+---------+----+------+-----+-----+
|  _c0|   Id|     Name|Year|Gender|State|Count|
+-----+-----+---------+----+------+-----+-----+
|11349|11350|     Emma|2004|     F|   AK|   62|
|11350|11351|  Madison|2004|     F|   AK|   48|
|11351|11352|   Hannah|2004|     F|   AK|   46|
|11352|11353|    Grace|2004|     F|   AK|   44|
|11353|11354|    Emily|2004|     F|   AK|   41|
|11354|11355|  Abigail|2004|     F|   AK|   37|
|11355|11356|   Olivia|2004|     F|   AK|   33|
|11356|11357| Isabella|2004|     F|   AK|   30|
|11357|11358|   Alyssa|2004|     F|   AK|   29|
|11358|11359|   Sophia|2004|     F|   AK|   28|
|11359|11360|   Alexis|2004|     F|   AK|   27|
|11360|11361|Elizabeth|2004|     F|   AK|   27|
|11361|11362|   Hailey|2004|     F|   AK|   27|
|11362|11363|     Anna|2004|     F|   AK|   26|
|11363|11364|  Natalie|2004|     F|   AK|   25|
|11364|11365|    Sarah|2004|     F|   AK|   25|
|11365|11366|   Sydney|2004|     F|   AK|   25|
|11366|11367|      Ava|2004|     F|   AK|   23|
|11367|11368|  Trinity|2004|     F|   AK|   22|
|11368|11369|    Haley|2004|     F|   AK|   21|
+-----+-----+---------+----+------+-----+-----+
only showing top 20 rows

In [128]:
df.columns

['_c0', 'Id', 'Name', 'Year', 'Gender', 'State', 'Count']

In [129]:
df = df.drop('_c0').drop('Id')
df.show()

+---------+----+------+-----+-----+
|     Name|Year|Gender|State|Count|
+---------+----+------+-----+-----+
|     Emma|2004|     F|   AK|   62|
|  Madison|2004|     F|   AK|   48|
|   Hannah|2004|     F|   AK|   46|
|    Grace|2004|     F|   AK|   44|
|    Emily|2004|     F|   AK|   41|
|  Abigail|2004|     F|   AK|   37|
|   Olivia|2004|     F|   AK|   33|
| Isabella|2004|     F|   AK|   30|
|   Alyssa|2004|     F|   AK|   29|
|   Sophia|2004|     F|   AK|   28|
|   Alexis|2004|     F|   AK|   27|
|Elizabeth|2004|     F|   AK|   27|
|   Hailey|2004|     F|   AK|   27|
|     Anna|2004|     F|   AK|   26|
|  Natalie|2004|     F|   AK|   25|
|    Sarah|2004|     F|   AK|   25|
|   Sydney|2004|     F|   AK|   25|
|      Ava|2004|     F|   AK|   23|
|  Trinity|2004|     F|   AK|   22|
|    Haley|2004|     F|   AK|   21|
+---------+----+------+-----+-----+
only showing top 20 rows

In [130]:
df.count()

1016395

In [131]:
df.groupby('Gender').count().show()

+------+------+
|Gender| count|
+------+------+
|     F|558846|
|     M|457549|
+------+------+

In [132]:
names = df.groupby("Name").count()
names.sort('count' , ascending = False).show()

+-------+-----+
|   Name|count|
+-------+-----+
|  Riley| 1112|
|  Avery| 1080|
| Jordan| 1073|
| Peyton| 1064|
| Hayden| 1049|
| Taylor| 1033|
| Jayden| 1031|
| Alexis|  984|
| Payton|  971|
|  Angel|  962|
| Dakota|  962|
|  Logan|  957|
| Parker|  947|
| Morgan|  945|
|Cameron|  944|
|   Ryan|  901|
| Skyler|  895|
|  Dylan|  895|
|  Reese|  880|
|  Quinn|  873|
+-------+-----+
only showing top 20 rows

In [133]:
names.count()

17632

In [134]:
names.sort('count' , ascending = False).collect()[0]['Name']

'Riley'

In [135]:

a = names.select(F.min('count')).collect()[0]
a[0]

print("least occured names count  ",names.filter(F.col('count') == a[0]).count())
names.filter(F.col('count') == a[0]).show()

least occured names count   3682
+---------+-----+
|     Name|count|
+---------+-----+
|  Nemesis|    1|
| Marlaina|    1|
|   Breezy|    1|
| Monalisa|    1|
|     Roxi|    1|
|    Shian|    1|
|   Mantej|    1|
|    Emira|    1|
|Annajulia|    1|
|    Syris|    1|
|  Yanette|    1|
|  Clariza|    1|
|Francella|    1|
|  Manisha|    1|
|   Oracio|    1|
|     Etai|    1|
|    Siris|    1|
|      Roc|    1|
|   Atiksh|    1|
|  Woodley|    1|
+---------+-----+
only showing top 20 rows

In [136]:
names.select(F.std('count')).show()

+------------------+
|        std(count)|
+------------------+
|122.02996350813885|
+------------------+

In [137]:
names.describe().show()

+-------+--------+------------------+
|summary|    Name|             count|
+-------+--------+------------------+
|  count|   17632|             17632|
|   mean|Infinity|57.644906987295826|
| stddev|    NULL|122.02996350813885|
|    min|   Aaban|                 1|
|    max|  Zyriah|              1112|
+-------+--------+------------------+

## Question 8

In [138]:
wind = spark.read.csv('wind.csv' , header = True , inferSchema = True )

In [139]:
wind.show()

+---+---+---+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
| Yr| Mo| Dy|  RPT|  VAL|  ROS|  KIL|  SHA|  BIR|  DUB|  CLA|  MUL|  CLO|  BEL|  MAL|
+---+---+---+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
| 61|  1|  1|15.04|14.96|13.17| 9.29|  NaN| 9.87|13.67|10.25|10.83|12.58| 18.5|15.04|
| 61|  1|  2|14.71|  NaN|10.83|  6.5|12.62| 7.67| 11.5|10.04| 9.79| 9.67|17.54|13.83|
| 61|  1|  3| 18.5|16.88|12.33|10.13|11.17| 6.17|11.25|  NaN|  8.5| 7.67|12.75|12.71|
| 61|  1|  4|10.58| 6.63|11.75| 4.58| 4.54| 2.88| 8.63| 1.79| 5.83| 5.88| 5.46|10.88|
| 61|  1|  5|13.33|13.25|11.42| 6.17|10.71| 8.21|11.92| 6.54|10.92|10.34|12.92|11.83|
| 61|  1|  6|13.21| 8.12| 9.96| 6.67| 5.37|  4.5|10.67| 4.42| 7.17|  7.5| 8.12|13.17|
| 61|  1|  7| 13.5|14.29|  9.5| 4.96|12.29| 8.33| 9.17| 9.29| 7.58| 7.96|13.96|13.79|
| 61|  1|  8|10.96| 9.75| 7.62| 5.91| 9.62| 7.29|14.29| 7.62| 9.25|10.46|16.62|16.46|
| 61|  1|  9|12.58|10.83| 10.0| 4.75|10.37| 6.79| 8.04|10.13| 7.79| 9.08|13.04|15.37|
| 61|  1| 10|13.37|11.12| 19.5| 8.33| 9.71| 6.54|11.42| 7.79| 8.54|  9.0| 8.58|11.83|
| 61|  1| 11|10.58| 9.87| 8.42| 2.79| 8.71| 7.25| 7.54| 8.33| 5.71| 8.67|20.71|16.92|
| 61|  1| 12|19.75|12.08| 18.5|10.54|10.29| 9.46|15.54| 11.5|10.37|14.58|15.59|14.09|
| 61|  1| 13| 9.92| 3.54| 8.46| 2.96| 2.29| 0.96| 4.63| 0.58| 2.33| 3.37| 5.25| 7.04|
| 61|  1| 14| 9.04| 5.66| 7.08| 0.67| 2.71| 1.38| 3.08| 2.58|  0.5| 2.67| 7.17| 5.17|
| 61|  1| 15|12.04| 9.67|11.75| 2.37| 7.38| 3.13|  2.5| 6.83| 4.75| 5.63| 7.54| 6.75|
| 61|  1| 16|16.42|11.25|15.67| 4.71|11.34| 6.92| 9.25| 8.79| 8.21| 7.33|13.04| 9.04|
| 61|  1| 17|17.75|14.37|17.33|10.13|13.96|13.37|13.42|11.04| 8.71|11.38|15.92|16.08|
| 61|  1| 18|19.83|12.04|20.79|18.54|  NaN|10.29|17.83|11.38|14.67|16.71| 8.79|17.96|
| 61|  1| 19| 4.92| 3.42| 7.29| 1.04| 3.67| 3.17| 3.71| 2.79| 1.92| 2.71| 6.87| 7.83|
| 61|  1| 20| 9.59|11.83| 7.96| 1.58| 7.92|  5.0| 3.17| 4.92| 3.13| 3.37|  6.5| 6.79|
+---+---+---+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
only showing top 20 rows

In [140]:
def fun(x):
  print(wind.select(F.sum(F.when(F.isnan(F.col(x)) , 1).otherwise(0)).alias(x) ).collect())

for i in wind.columns :
  fun(i)

[Row(Yr=0)]
[Row(Mo=0)]
[Row(Dy=0)]
[Row(RPT=6)]
[Row(VAL=3)]
[Row(ROS=2)]
[Row(KIL=5)]
[Row(SHA=2)]
[Row(BIR=0)]
[Row(DUB=3)]
[Row(CLA=2)]
[Row(MUL=3)]
[Row(CLO=1)]
[Row(BEL=0)]
[Row(MAL=4)]

In [141]:
def fun(x):
  print(wind.select(F.sum(F.when(~F.isnan(F.col(x)) , 1).otherwise(0)).alias(x) ).collect())

for i in wind.columns :
  fun(i)

[Row(Yr=6574)]
[Row(Mo=6574)]
[Row(Dy=6574)]
[Row(RPT=6568)]
[Row(VAL=6571)]
[Row(ROS=6572)]
[Row(KIL=6569)]
[Row(SHA=6572)]
[Row(BIR=6574)]
[Row(DUB=6571)]
[Row(CLA=6572)]
[Row(MUL=6571)]
[Row(CLO=6573)]
[Row(BEL=6574)]
[Row(MAL=6570)]